<a href="https://colab.research.google.com/github/italomarcelogit/python.free/blob/master/COLAB/PYMONGO/basic_tutorial_pyMongo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [113]:
!pip install dnspython -q

In [114]:
import pandas as pd
import numpy as np
import pymongo

In [115]:
# version
print(pymongo.version)

3.11.3

# Creating mongoDB Connection

In [116]:
def mongoConecta(url, database, collection):
    mongo_url = url
    cliente = pymongo.MongoClient(mongo_url)
    DB = cliente[database]
    DC = DB[collection]
    return DC

In [117]:
# Mongo Connect
from setup_tutorial import MDB # file with dataconnect ==> url="YOUR URL MONGODB", database='YOUR DATABASE', collection='YOUR COLLECTION'
urlMDB, databaseMDB, collectionMDB = MDB()

# get a collection in pymongo
collection = mongoConecta(url=urlMDB,  database=databaseMDB, collection=collectionMDB)

In [118]:
# clear collection
collection.delete_many({})

In [119]:
# database & collection
f'Database: {collection.database.name}', f'Collection: {collection.name}'

('Database: tutorialDB', 'Collection: tutorialC')

In [120]:
# or 
collection.full_name

'tutorialDB.tutorialC'

# Document

Documents in pymongo is represented like a dictionary like below and stored using json-style documents.

    employee = {
      'id_doc': '12345A',
      'name': 'Anne',
      'age': 25,
      'location': {
        'city': 'Sao Paulo',
        'country': 'Brazil'},
      'salary': 6000,
      'position': 'Manager',
      'department': 'Sales'
      'status': 1
    }

# Basic commands to CRUD on mongoDB

**Insert One document**

In [121]:
# creating employee register 

employee = {
    'id_doc': '12345A',
    'name': 'Anne',
    'age': 25,
    'location': {
      'city': 'Sao Paulo',
      'country': 'Brazil'},
    'salary': 6000,
    'position': 'Manager',
    'department': 'Sales',
    'status': 1
}

In [122]:
employee

{'age': 25,
 'department': 'Sales',
 'id_doc': '12345A',
 'location': {'city': 'Sao Paulo', 'country': 'Brazil'},
 'name': 'Anne',
 'position': 'Manager',
 'salary': 6000,
 'status': 1}

In [123]:
# insert one document on database.collection tutorialDB.tutorialC
id = collection.insert_one(employee).inserted_id
# showing idObject inserted
id

ObjectId('602a8a9c930e884131f7984e')

In [124]:
# insert other document on database.collection tutorialDB.tutorialC
employee = {
    'id_doc': '12345B',
    'name': 'Bruna',
    'age': 32,
    'location': {
      'city': 'Sao Paulo',
      'country': 'Brazil'},
    'salary': 3000,
    'position': 'Seller',
    'department': 'Sales',
    'status': 1
}
id = collection.insert_one(employee).inserted_id
id

ObjectId('602a8a9c930e884131f7984f')

**Insert Many documents**

In [125]:
# insert many documents on collection tutorialDB.tutorialC
# the structure is array with 3 dicts ==> [{dict1}, {dict2}, {dict3}]
employees = [{
    'id_doc': '12345C',
    'name': 'Carla',
    'age': 29,
    'location': {
      'city': 'Sao Paulo',
      'country': 'Brazil'},
    'salary': 3000,
    'position': 'Seller',
    'department': 'Sales',
    'status': 1
},
{
    'id_doc': '12345D',
    'name': 'David',
    'age': 27,
    'location': {
      'city': 'Sao Paulo',
      'country': 'Brazil'},
    'salary': 3000,
    'position': 'Seller',
    'department': 'Sales',
    'status': 1
},
{
    'id_doc': '12345E',
    'name': 'Eduarda',
    'age': 31,
    'location': {
      'city': 'Sao Paulo',
      'country': 'Brazil'},
    'salary': 3500,
    'position': 'Data Analist',
    'department': 'Sales',
    'status': 1
}]

ids = collection.insert_many(employees)

**List One document**

In [126]:
# to find one document on collection

collection.find_one()
# it'll return the first document

{'_id': ObjectId('602a8a9c930e884131f7984e'),
 'age': 25,
 'department': 'Sales',
 'id_doc': '12345A',
 'location': {'city': 'Sao Paulo', 'country': 'Brazil'},
 'name': 'Anne',
 'position': 'Manager',
 'salary': 6000,
 'status': 1}

**List All documents**

In [127]:
# to find many documents on collection

[doc for doc in collection.find()]

[{'_id': ObjectId('602a8a9c930e884131f7984e'),
  'age': 25,
  'department': 'Sales',
  'id_doc': '12345A',
  'location': {'city': 'Sao Paulo', 'country': 'Brazil'},
  'name': 'Anne',
  'position': 'Manager',
  'salary': 6000,
  'status': 1},
 {'_id': ObjectId('602a8a9c930e884131f7984f'),
  'age': 32,
  'department': 'Sales',
  'id_doc': '12345B',
  'location': {'city': 'Sao Paulo', 'country': 'Brazil'},
  'name': 'Bruna',
  'position': 'Seller',
  'salary': 3000,
  'status': 1},
 {'_id': ObjectId('602a8a9c930e884131f79850'),
  'age': 29,
  'department': 'Sales',
  'id_doc': '12345C',
  'location': {'city': 'Sao Paulo', 'country': 'Brazil'},
  'name': 'Carla',
  'position': 'Seller',
  'salary': 3000,
  'status': 1},
 {'_id': ObjectId('602a8a9c930e884131f79851'),
  'age': 27,
  'department': 'Sales',
  'id_doc': '12345D',
  'location': {'city': 'Sao Paulo', 'country': 'Brazil'},
  'name': 'David',
  'position': 'Seller',
  'salary': 3000,
  'status': 1},
 {'_id': ObjectId('602a8a9c930e884131f79852'),
  'age': 31,
  'department': 'Sales',
  'id_doc': '12345E',
  'location': {'city': 'Sao Paulo', 'country': 'Brazil'},
  'name': 'Eduarda',
  'position': 'Data Analist',
  'salary': 3500,
  'status': 1}]

**Queries document**

In [128]:
# This code will return document with id_doc == "12345C" 
[doc for doc in collection.find({'id_doc': '12345C'})]

[{'_id': ObjectId('602a8a9c930e884131f79850'),
  'age': 29,
  'department': 'Sales',
  'id_doc': '12345C',
  'location': {'city': 'Sao Paulo', 'country': 'Brazil'},
  'name': 'Carla',
  'position': 'Seller',
  'salary': 3000,
  'status': 1}]

In [129]:
# here, this code will find all sellers
[doc for doc in collection.find({'position': 'Seller'})]

[{'_id': ObjectId('602a8a9c930e884131f7984f'),
  'age': 32,
  'department': 'Sales',
  'id_doc': '12345B',
  'location': {'city': 'Sao Paulo', 'country': 'Brazil'},
  'name': 'Bruna',
  'position': 'Seller',
  'salary': 3000,
  'status': 1},
 {'_id': ObjectId('602a8a9c930e884131f79850'),
  'age': 29,
  'department': 'Sales',
  'id_doc': '12345C',
  'location': {'city': 'Sao Paulo', 'country': 'Brazil'},
  'name': 'Carla',
  'position': 'Seller',
  'salary': 3000,
  'status': 1},
 {'_id': ObjectId('602a8a9c930e884131f79851'),
  'age': 27,
  'department': 'Sales',
  'id_doc': '12345D',
  'location': {'city': 'Sao Paulo', 'country': 'Brazil'},
  'name': 'David',
  'position': 'Seller',
  'salary': 3000,
  'status': 1}]

In [130]:
# now, we'll find sellers filtered sorted by ages
[doc for doc in collection.find({'position': 'Seller'}).sort('age')]

[{'_id': ObjectId('602a8a9c930e884131f79851'),
  'age': 27,
  'department': 'Sales',
  'id_doc': '12345D',
  'location': {'city': 'Sao Paulo', 'country': 'Brazil'},
  'name': 'David',
  'position': 'Seller',
  'salary': 3000,
  'status': 1},
 {'_id': ObjectId('602a8a9c930e884131f79850'),
  'age': 29,
  'department': 'Sales',
  'id_doc': '12345C',
  'location': {'city': 'Sao Paulo', 'country': 'Brazil'},
  'name': 'Carla',
  'position': 'Seller',
  'salary': 3000,
  'status': 1},
 {'_id': ObjectId('602a8a9c930e884131f7984f'),
  'age': 32,
  'department': 'Sales',
  'id_doc': '12345B',
  'location': {'city': 'Sao Paulo', 'country': 'Brazil'},
  'name': 'Bruna',
  'position': 'Seller',
  'salary': 3000,
  'status': 1}]

**Advanced Queryes**

[operators mongoDB](https://docs.mongodb.com/manual/reference/operator/query/)

In [131]:
# list employees | age is great than 31
[doc for doc in collection.find({'age': {'$gt': 31}})]

[{'_id': ObjectId('602a8a9c930e884131f7984f'),
  'age': 32,
  'department': 'Sales',
  'id_doc': '12345B',
  'location': {'city': 'Sao Paulo', 'country': 'Brazil'},
  'name': 'Bruna',
  'position': 'Seller',
  'salary': 3000,
  'status': 1}]

In [132]:
# list employees | age is greater or eq than 31
[doc for doc in collection.find({'age': {'$gte': 31}})]

[{'_id': ObjectId('602a8a9c930e884131f7984f'),
  'age': 32,
  'department': 'Sales',
  'id_doc': '12345B',
  'location': {'city': 'Sao Paulo', 'country': 'Brazil'},
  'name': 'Bruna',
  'position': 'Seller',
  'salary': 3000,
  'status': 1},
 {'_id': ObjectId('602a8a9c930e884131f79852'),
  'age': 31,
  'department': 'Sales',
  'id_doc': '12345E',
  'location': {'city': 'Sao Paulo', 'country': 'Brazil'},
  'name': 'Eduarda',
  'position': 'Data Analist',
  'salary': 3500,
  'status': 1}]

In [133]:
# list employees | age is less than 27
[doc for doc in collection.find({'age': {'$lt': 27}})]

[{'_id': ObjectId('602a8a9c930e884131f7984e'),
  'age': 25,
  'department': 'Sales',
  'id_doc': '12345A',
  'location': {'city': 'Sao Paulo', 'country': 'Brazil'},
  'name': 'Anne',
  'position': 'Manager',
  'salary': 6000,
  'status': 1}]

In [134]:
# find by ObjectID
employee = {
    'id_doc': '12345F',
    'name': 'Francis',
    'age': 55,
    'location': {
      'city': 'Sao Paulo',
      'country': 'Brazil'},
    'salary': 3000,
    'position': 'Accounter',
    'department': 'Finances',
    'status': 1
}
id = collection.insert_one(employee).inserted_id
id

ObjectId('602a8a9d930e884131f79853')

In [135]:
# find by ObjectID
collection.find_one({'_id': id})

{'_id': ObjectId('602a8a9d930e884131f79853'),
 'age': 55,
 'department': 'Finances',
 'id_doc': '12345F',
 'location': {'city': 'Sao Paulo', 'country': 'Brazil'},
 'name': 'Francis',
 'position': 'Accounter',
 'salary': 3000,
 'status': 1}

In [136]:
# insert without position info
employee = {
    'id_doc': '12345G',
    'name': 'Gustavo',
    'age': 43,
    'location': {
      'city': 'Sao Paulo',
      'country': 'Brazil'},
    'salary': 3000,
    'department': 'Marketing',
    'status': 1
}
id = collection.insert_one(employee).inserted_id
collection.find_one({'_id': id})

{'_id': ObjectId('602a8a9d930e884131f79854'),
 'age': 43,
 'department': 'Marketing',
 'id_doc': '12345G',
 'location': {'city': 'Sao Paulo', 'country': 'Brazil'},
 'name': 'Gustavo',
 'salary': 3000,
 'status': 1}

In [137]:
# insert without position info
employee = {
    'id_doc': '12345H',
    'name': 'Henry',
    'age': 23,
    'location': {
      'city': 'Sao Paulo',
      'country': 'Brazil'},
    'position': None,
    'salary': 2000,
    'department': 'Marketing',
    'status': 1
}
id = collection.insert_one(employee).inserted_id
collection.find_one({'_id': id})

{'_id': ObjectId('602a8a9d930e884131f79855'),
 'age': 23,
 'department': 'Marketing',
 'id_doc': '12345H',
 'location': {'city': 'Sao Paulo', 'country': 'Brazil'},
 'name': 'Henry',
 'position': None,
 'salary': 2000,
 'status': 1}

In [138]:
# list all documents without position field
[doc for doc in collection.find({'position': {'$exists': False}})]

[{'_id': ObjectId('602a8a9d930e884131f79854'),
  'age': 43,
  'department': 'Marketing',
  'id_doc': '12345G',
  'location': {'city': 'Sao Paulo', 'country': 'Brazil'},
  'name': 'Gustavo',
  'salary': 3000,
  'status': 1}]

In [139]:
# list all documents with value position is None
[doc for doc in collection.find({'position': None})]

[{'_id': ObjectId('602a8a9d930e884131f79854'),
  'age': 43,
  'department': 'Marketing',
  'id_doc': '12345G',
  'location': {'city': 'Sao Paulo', 'country': 'Brazil'},
  'name': 'Gustavo',
  'salary': 3000,
  'status': 1},
 {'_id': ObjectId('602a8a9d930e884131f79855'),
  'age': 23,
  'department': 'Marketing',
  'id_doc': '12345H',
  'location': {'city': 'Sao Paulo', 'country': 'Brazil'},
  'name': 'Henry',
  'position': None,
  'salary': 2000,
  'status': 1}]

**Update**

In [140]:
# update one document
[doc for doc in collection.find({'id_doc': '12345G'})]

[{'_id': ObjectId('602a8a9d930e884131f79854'),
  'age': 43,
  'department': 'Marketing',
  'id_doc': '12345G',
  'location': {'city': 'Sao Paulo', 'country': 'Brazil'},
  'name': 'Gustavo',
  'salary': 3000,
  'status': 1}]

In [141]:
collection.update_one({'id_doc': '12345G'}, {'$set': {'position': 'MKT Analyst'}})
[doc for doc in collection.find({'id_doc': '12345G'})]

[{'_id': ObjectId('602a8a9d930e884131f79854'),
  'age': 43,
  'department': 'Marketing',
  'id_doc': '12345G',
  'location': {'city': 'Sao Paulo', 'country': 'Brazil'},
  'name': 'Gustavo',
  'position': 'MKT Analyst',
  'salary': 3000,
  'status': 1}]

In [142]:
# update many documents
[doc for doc in collection.find({'department': 'Marketing'})]

[{'_id': ObjectId('602a8a9d930e884131f79854'),
  'age': 43,
  'department': 'Marketing',
  'id_doc': '12345G',
  'location': {'city': 'Sao Paulo', 'country': 'Brazil'},
  'name': 'Gustavo',
  'position': 'MKT Analyst',
  'salary': 3000,
  'status': 1},
 {'_id': ObjectId('602a8a9d930e884131f79855'),
  'age': 23,
  'department': 'Marketing',
  'id_doc': '12345H',
  'location': {'city': 'Sao Paulo', 'country': 'Brazil'},
  'name': 'Henry',
  'position': None,
  'salary': 2000,
  'status': 1}]

In [143]:
collection.update_many({'department': 'Marketing'}, {'$set': {'position': 'MKT Analyst', 'salary': 2500}})
[doc for doc in collection.find({'department': 'Marketing'})]

[{'_id': ObjectId('602a8a9d930e884131f79854'),
  'age': 43,
  'department': 'Marketing',
  'id_doc': '12345G',
  'location': {'city': 'Sao Paulo', 'country': 'Brazil'},
  'name': 'Gustavo',
  'position': 'MKT Analyst',
  'salary': 2500,
  'status': 1},
 {'_id': ObjectId('602a8a9d930e884131f79855'),
  'age': 23,
  'department': 'Marketing',
  'id_doc': '12345H',
  'location': {'city': 'Sao Paulo', 'country': 'Brazil'},
  'name': 'Henry',
  'position': 'MKT Analyst',
  'salary': 2500,
  'status': 1}]

**Counting documents**

In [144]:
collection.count_documents({})

8

In [145]:
collection.count_documents({'department': 'Marketing'})

2

**Delete documents**

In [146]:
# new documents
employees = [{
    'id_doc': 'train1',
    'name': 'X',
    'position': 'Stocker',
    'department': '3part',
    'status': 1
},
{
    'id_doc': 'train2',
    'name': 'Y',
    'position': 'Stocker',
    'department': '3part',
    'status': 1
},
{
    'id_doc': 'train3',
    'name': 'Z',
    'position': 'Stocker',
    'department': '3part',
    'status': 1
}]
# insert many documents
collection.insert_many(employees)
# list all documents (only id_doc, names and deparment and depart)
[print(doc, sep='\n') for doc in collection.find({}, 
                                                 {'_id':0, 'id_doc':1, 
                                                  'name':1, 'department': 1})]

{'id_doc': '12345A', 'name': 'Anne', 'department': 'Sales'}
{'id_doc': '12345B', 'name': 'Bruna', 'department': 'Sales'}
{'id_doc': '12345C', 'name': 'Carla', 'department': 'Sales'}
{'id_doc': '12345D', 'name': 'David', 'department': 'Sales'}
{'id_doc': '12345E', 'name': 'Eduarda', 'department': 'Sales'}
{'id_doc': '12345F', 'name': 'Francis', 'department': 'Finances'}
{'id_doc': '12345G', 'name': 'Gustavo', 'department': 'Marketing'}
{'id_doc': '12345H', 'name': 'Henry', 'department': 'Marketing'}
{'id_doc': 'train1', 'name': 'X', 'department': '3part'}
{'id_doc': 'train2', 'name': 'Y', 'department': '3part'}
{'id_doc': 'train3', 'name': 'Z', 'department': '3part'}

[None, None, None, None, None, None, None, None, None, None, None]

In [147]:
# list all documents from 3part department
[print(doc, sep='\n') for doc in collection.find({'department': '3part'}, 
                                                 {'_id':0, 'id_doc':1, 
                                                  'name':1, 'department': 1})]

{'id_doc': 'train1', 'name': 'X', 'department': '3part'}
{'id_doc': 'train2', 'name': 'Y', 'department': '3part'}
{'id_doc': 'train3', 'name': 'Z', 'department': '3part'}

[None, None, None]

In [148]:
# delete one document
collection.delete_one({'id_doc': 'train1'})
# list all documents from 3part department
[print(doc, sep='\n') for doc in collection.find({'department': '3part'}, 
                                                 {'_id':0, 'id_doc':1, 
                                                  'name':1, 'department': 1})]

{'id_doc': 'train2', 'name': 'Y', 'department': '3part'}
{'id_doc': 'train3', 'name': 'Z', 'department': '3part'}

[None, None]

In [149]:
# delete many documents
collection.delete_many({'department': '3part'})
# list all documents
[print(doc, sep='\n') for doc in collection.find({}, 
                                                 {'_id':0, 'id_doc':1, 
                                                  'name':1, 'department': 1})]

{'id_doc': '12345A', 'name': 'Anne', 'department': 'Sales'}
{'id_doc': '12345B', 'name': 'Bruna', 'department': 'Sales'}
{'id_doc': '12345C', 'name': 'Carla', 'department': 'Sales'}
{'id_doc': '12345D', 'name': 'David', 'department': 'Sales'}
{'id_doc': '12345E', 'name': 'Eduarda', 'department': 'Sales'}
{'id_doc': '12345F', 'name': 'Francis', 'department': 'Finances'}
{'id_doc': '12345G', 'name': 'Gustavo', 'department': 'Marketing'}
{'id_doc': '12345H', 'name': 'Henry', 'department': 'Marketing'}

[None, None, None, None, None, None, None, None]